h1 {
    color: #007cb5;
    text-align: center;
}
button {
    color: #ffffff;
    font-size: large;
    background-color: #007cb5;
    border: 2px solid transparent;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    margin-left: 25px;
    margin-bottom: 20px;
}
button:hover {
    color: #007cb5;
    background-color: #ffffff;
    font-weight: bold;
    border: 2px solid #007cb5;
}
table {
    border-collapse: collapse;
    width: 95%;
    margin: 0px 25px 10px 25px;
}
td, th {
    border: 2px solid;
    font-size: large;
    text-align: center;
    padding: 10px 8px;
}
tr:nth-child(even) {
    background-color: #03F2FF;
}
.empNames {
    text-align: left;
}
.empAttend {
    width: 20px;
    height: 20px;
}